.main {
  display: flex;
  color: #000;
  gap: 66px;
  margin: 0 auto;
}

@media screen and (max-width:700px) {
  .main {
    flex-direction: column;
  }
}


.footerTitle {
  color: #000;
  text-align: center;
}