html,
body,
.App {
  box-sizing: border-box;
  max-height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto';
}

.App {
  height: 100%;
  background: linear-gradient(180deg, #232323 0%, #282828 100%);
  color: #fff;
}
